* {
    margin: 0;
    padding: 0;
}

$font-stack: "Libre Franklin", Helvetica, Arial, serif;
$color-text: #212020;
$color-footer-bg: rgba(33, 32, 32, 0.83);
$color-white: #fff;
$color-hr: #dadada;
$color-button-border: #dadada;

body {
    font: 100% $font-stack;
    color: $color-text;
}
